<div class="card border-light text-center">
    <h4 class="card-header" *ngIf="title">
        {{ title }}
    </h4>
    <div class="card-block text-justify">
        <ng-content></ng-content>
    </div>
</div>
