<div class="container">
    <h4 class="text-center"> Register to embrace a new world!</h4>
    <form [formGroup]="signUpForm" class="form mt-4" (submit)="signUp()">
        <div class="form-group">
            <label
                for="email">
                Email:
            </label>
            <input
                formControlName="email"
                placeholder="your@email.com"
                class="form-control"
                id="email"
                autofocus
                #inputEmail />

            <ap-vmessage
                *ngIf="signUpForm.get('email').errors?.required"
                text="Email is required">
            </ap-vmessage>
            <ap-vmessage
                *ngIf="signUpForm.get('email').errors?.email"
                text="Invalid email">
            </ap-vmessage>

        </div>
        <div class="form-group">
            <label
                for="fullName">
                Full name:
            </label>
            <input
                formControlName="fullName"
                placeholder="Full Name"
                class="form-control"
                id="fullName" />

            <ap-vmessage
                *ngIf="signUpForm.get('fullName').errors?.required"
                text="Full name is required">
            </ap-vmessage>
            <ap-vmessage
                *ngIf="signUpForm.get('fullName').errors?.minlength"
                text="Minimum length is 2">
            </ap-vmessage>
            <ap-vmessage
                *ngIf="signUpForm.get('fullName').errors?.maxlength"
                text="Maximum length is 40">
            </ap-vmessage>

        </div>
        <div class="form-group">
            <label
                for="username">
                Username:
            </label>
            <input
                formControlName="userName"
                placeholder="username"
                class="form-control"
                id="username">

            <ap-vmessage
                *ngIf="signUpForm.get('userName').errors?.required"
                text="Username is required">
            </ap-vmessage>
            <ap-vmessage
                *ngIf="signUpForm.get('userName').errors?.minlength"
                text="Minimum length is 2">
            </ap-vmessage>
            <ap-vmessage
                *ngIf="signUpForm.get('userName').errors?.maxlength"
                text="Maximum length is 30">
            </ap-vmessage>
            <ap-vmessage
                *ngIf="signUpForm.get('userName').errors?.lowercase"
                text="Must be lowercase">
            </ap-vmessage>
            <ap-vmessage
                *ngIf="signUpForm.get('userName').errors?.userNameTaken"
                text="Username already taken">
            </ap-vmessage>
            <small *ngIf="signUpForm.get('userName').valid" class="text-success">
                User available
            </small>

        </div>
        <div class="form-group">
            <label
                for="password">
                Password:
            </label>
            <input
                formControlName="password"
                type="password"
                placeholder="********"
                class="form-control"
                id="password"/>

            <ap-vmessage
                *ngIf="signUpForm.get('password').errors?.required"
                text="Password is required">
            </ap-vmessage>
            <ap-vmessage
                *ngIf="signUpForm.get('password').errors?.minlength"
                text="Minimum length is 8">
            </ap-vmessage>
            <ap-vmessage
                *ngIf="signUpForm.get('password').errors?.maxlength"
                text="Maximum length is 18">
            </ap-vmessage>

        </div>
        <button [disabled]="signUpForm.invalid || signUpForm.pending" class="btn btn-primary">Register</button>

    </form>

    <hr>

    <p>Already a user?
        <a [routerLink]="['']"> Sign In!</a>
    </p>
</div>
