<div class="container">

    <h4 class="text-center">Login</h4>

    <form class="form mt-4" [formGroup]="loginForm" (submit)="login()">

        <div class="form-group">
            <label
                for="username">
                Username:
            </label>
            <input
                #usernameInput
                formControlName="username"
                id="username"
                class="form-control"
                placeholder="Jon Skeet"
                autofocus>
            <ap-vmessage
                *ngIf="loginForm.get('username').errors?.required"
                text="Username is required">
            </ap-vmessage>
        </div>

        <div class="form-group">
            <label
                for="password">
                Password:
            </label>
            <input
                formControlName="password"
                id="password"
                type="password"
                class="form-control"
                placeholder="********">
            <ap-vmessage
                *ngIf="loginForm.get('password').errors?.required"
                text="Password is required">
            </ap-vmessage>
        </div>

        <button
            [disabled]="loginForm.invalid"
            type="submit"
            class="btn btn-primary">
            Sign In
        </button>

    </form>

    <hr>

    <p class="text-muted">Not a user? <a href="#" [routerLink]="['signup']">Register now</a></p>

</div>
